<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>All Rooms</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
    <link rel="stylesheet" href="/css/styles_chat-room.css">  
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

  <link href="/css/styles_index.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">VideoAll<span>.</span></a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
       
           
          <li class="dropdown"><a href="#"><span><i class="bi bi-person-circle"></i>  </span> <span><%=me.username%></span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/logout">LogOut</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>    


<div style="padding-bottom: 5px !important; padding-top: 10px;"  class="container ">
	<div class="row no-gutters">
	  <div class="col-md-4 border-right">
		<div style="color: white; text-align: center;" class="settings-tray">
            <%=me.username%>
		   <span class="settings-tray--right">
		  </span>
		</div>
		
          <div class="roomie">
                <% me.rooms.forEach(function(room){ %>
                    <a href="/room/<%= room._id %>">
                    <div class="friend-drawer friend-drawer--onhover">
                        <div class="text">
                          <p > <strong><%= room.title %></strong></p>
                        </div>
                        <span class="time text-muted small"> <%= room.created.toDateString() %></span>
                      </div>
                      </a>
                      <hr>
                <% }) %>
          </div>
	  </div>

    
      <div class="col-md-8">
        <div class="row">
          <div class="col-12">
                <div class="chat-panel">
                  <div class="past-chat"></div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div style="background-color: white;" class="chat-box-tray"></div>
                  </div>
                </div>
          </div>
        </div>
      </div>
	  </div>
	</div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: #f1f6fe; padding-bottom: 0 !important;">
    <div class="container py-4" style="margin-top: auto; margin-bottom: auto; background-color:#f1f6fe; ">
      <div class="copyright" style=" background-color:#f1f6fe; color: #444444;">
        &copy; Copyright <strong><span>VideoAll</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  
  <!-- Vendor JS Files -->
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Template Main JS File -->
  <script src="/js/script_chat-room.js"></script>
  <script src="/js/script_index.js"></script>
  </body>
  </html>
 
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>